<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Algorithms & Computation Assignment</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        $(function () {
            $("#tabs").tabs();
            $("#i_tabs").tabs();
        });

        $(document).ready(function () {
            $('#all_customers_by_name').DataTable({
                "ordering": false,
                "searching": false,
                "ajax": {
                    "url": "http://localhost:3000/api/sortedCustomersByName",
                    "dataSrc": ""
                },
                "columns": [
                    { "data": "name" },
                    { "data": "points" }
                ]
            });
            $('#raw_customers').DataTable({
                "ajax": {
                    "url": "http://localhost:3000/api/customers",
                    "dataSrc": ""
                },
                "columns": [
                    { "data": "name" },
                    { "data": "points" }
                ]
            });
            $('#paltinum_customers').DataTable({
                "ordering": false,
                "searching": false,
                "rowCallback": function (row, data) {
                    if (data.points == 5695) {
                        console.log(data.points);
                        $('td', row).css('background-color', 'golden');
                    }
                },
                "ajax": {
                    "url": "http://localhost:3000/api/customers",
                    "dataSrc": ""
                },
                "columns": [
                    { "data": "name" },
                    { "data": "points" }
                ]
            });
        });
    </script>
    <style>
        .ui-tabs-vertical {
            width: 100%;
        }

        .ui-tabs-vertical .ui-tabs-nav {
            padding: .2em .1em .2em .2em;
            float: left;
            width: 12em;
        }

        .ui-tabs-vertical .ui-tabs-nav li {
            clear: left;
            width: 100%;
            border-bottom-width: 1px !important;
            border-right-width: 0 !important;
            margin: 0 -1px .2em 0;
        }

        .ui-tabs-vertical .ui-tabs-nav li a {
            display: block;
        }

        .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
            padding-bottom: 0;
            padding-right: .1em;
            border-right-width: 1px;
        }

        .ui-tabs-vertical .ui-tabs-panel {
            padding: 1em;
            float: right;
            width: 40em;
        }
    </style>
</head>

<body>
    <div id="tabs">
        <ul>
            <li><a href="#htabs-1">All Customers</a></li>
            <li><a href="#htabs-2">Customer by Category</a></li>
            <li><a href="#htabs-3">Customer Search</a></li>
            <li><a href="#htabs-4">Raw Data of Customers / JS Native search & sort</a></li>
        </ul>
        <div id="htabs-1">
            <h2>All Customers Sorted by Name</h2>
            <table id="all_customers_by_name" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Customer Name</th>
                        <th>Loyalty Points</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Customer Name</th>
                        <th>Loyalty Points</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div id="htabs-2">
            <div id="i_tabs">
                <ul>
                    <li><a href="#itabs-1">Platinum</a></li>
                    <li><a href="#itabs-2">Gold</a></li>
                    <li><a href="#itabs-3">Silver</a></li>
                    <li><a href="#itabs-4">Average</a></li>
                </ul>
                <div id="itabs-1">
                    <h2>Platinum Customers</h2>
                    <br />
                    <table id="paltinum_customers" class="display" style="width:100%">
                        <thead>
                            <tr>
                                <th>Customer Name</th>
                                <th>Loyalty Points</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Customer Name</th>
                                <th>Loyalty Points</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div id="itabs-2">
                    <h2>Gold Customers</h2>
                </div>
                <div id="itabs-3">
                    <h2>Sulver Customers</h2>
                </div>
                <div id="itabs-4">
                    <h2>Average Points</h2>
                </div>
            </div>
        </div>
        <div id="htabs-3">
            <p>Search by Customers</p>
        </div>
        <div id="htabs-4">
            <table id="raw_customers" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Customer Name</th>
                        <th>Loyalty Points</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Customer Name</th>
                        <th>Loyalty Points</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</body>

</html>